<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFrtYWqFgRZ7A4-l9_XfHDkK3sUCOjz-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>526329580645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unipasaj.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>unipasaj-a4caa</string>
	<key>STORAGE_BUCKET</key>
	<string>unipasaj-a4caa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526329580645:ios:01948f22de5592f4168a8c</string>
</dict>
</plist>